h1, h2, h3 {
    font-family: "DM Serif Display", sans-serif;
}

.container-fluid {
    padding: 0;
}

body {
    text-align: center;
}

p {
    padding-top: 0.5rem;
}

/* Title */
#title {
    background-color: #F8E2CF;
}

.title-image {
    width: 300px;
    border-radius: 100%;
    display: block;
    margin: 20% auto;
}

.navbar {
    background-color: #F5C6AA;
}

.title-main {
    font-family: "Indie Flower", sans-serif;
    font-weight: bold;
    font-size: 10rem;
    color: #EC994B;
    margin: 6% auto 0;
    text-align: left;
}

.title-description {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    color: #3E2C41;
    max-width: 600px;
}



/* Services */
#services {
    background-color: #FCD8D4;
}

.services-row {
    padding: 5% 6%;
}

.card-title {
    font-family: "Indie Flower", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.card-text {
    font-family: "Ubuntu";
    max-width: 280px;
}


/* Pricing */
#pricing {
    background-color: antiquewhite;
}

.pricing-image {
    width: 300px;
    margin: 20px;
}

/* Call To Action */
#cta {
    background-color: #F5C6AA;
    padding: 2%;
}

.cta-line {
    line-height: 1.5rem;
}

/* Footer */


/* ColorHunt Link https://colorhunt.co/palette/fcd8d4fdf6f0f8e2cff5c6aa */