h1, h2, h3 {
    font-family: "DM-Serif-Display", sans-serif;
}

/* Title */
#title {
    background-color: #F8E2CF;
}

.navbar {
    background-color: #F5C6AA;
}

.title-description {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-size: 3.5rem;
}

/* Services */
/* Pricing */
/* Call To Action */
/* Footer */

/* ColorHunt Link https://colorhunt.co/palette/fcd8d4fdf6f0f8e2cff5c6aa */